In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('./mom_data.csv')

In [3]:
df.columns

Index(['restaurant_name', 'invoice_no', 'date', 'payment_type', 'order_type',
       'status', 'area', 'virtual_brand_name', 'brand_grouping', 'assign_to',
       'customer_phone', 'customer_name', 'customer_address', 'persons',
       'order_cancel_reason', 'my_amount', 'total_tax', 'discount',
       'delivery_charge', 'container_charge', 'service_charge',
       'additional_charge', 'waived_off', 'round_off', 'total', 'item_name',
       'category_name', 'sap_code', 'item_price', 'item_quantity',
       'item_total'],
      dtype='object')

In [4]:
df = df.drop(columns=['discount','total_tax','sap_code','delivery_charge', 'container_charge', 'service_charge','additional_charge', 'waived_off', 'round_off','customer_address', 'persons','order_cancel_reason','invoice_no','payment_type', 'order_type','status', 'area', 'virtual_brand_name', 'brand_grouping', 'assign_to',])
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d %H:%M:%S').dt.strftime('%d-%m-%Y').where(df['total']!=0)
# df = df.where(df['total']!=0)

In [5]:
df

,restaurant_name,date,customer_phone,customer_name,my_amount,total,item_name,category_name,item_price,item_quantity,item_total
0,Makers of Milkshakes - Prozone Mall,01-04-2024,8.390407e+09,slma saphir,344.23,375,Strawberry Shake (Milkshake),Classic Shakes,160.64,1,160.64
1,Makers of Milkshakes - Prozone Mall,01-04-2024,8.390407e+09,slma saphir,344.23,375,Chocolate Shake (Milkshake),Instashakes,183.59,1,183.59
2,Makers of Milkshakes - Prozone Mall,01-04-2024,9.373995e+09,rahat khan,137.69,150,Classic Lemonade,Coolers,137.69,1,137.69
3,Makers of Milkshakes - Prozone Mall,01-04-2024,8.149381e+09,sania khan,367.18,400,Waffles,Waffles,183.59,2,367.18
4,Makers of Milkshakes - Prozone Mall,01-04-2024,9.156525e+09,pawna mothkuwan,367.18,400,Banana Shake (Milkshake),Fruit Walker,183.59,1,183.59
...,...,...,...,...,...,...,...,...,...,...,...
15707,Makers of Milkshakes - Prozone Mall,30-09-2024,7.030736e+09,vaishnavi ugale,142.86,150,Cold Coffee,Coolers,142.86,1,142.86
15708,Makers of Milkshakes - Prozone Mall,30-09-2024,9.123939e+09,shivnath,457.14,480,Kulfi Nuts Shake (Milkshake),Mom Special Shakes,228.57,2,457.14
15709,Makers of Milkshakes - Prozone Mall,30-09-2024,8.805016e+09,veer shirke,209.52,220,Chocolate Brownie Shake (Milkshake),Coco Bros,209.52,1,209.52
15710,Makers of Milkshakes - Prozone Mall,30-09-2024,7.507776e+09,farhan,438.09,460,Chocolate Brownie Shake (Milkshake),Coco Bros,209.52,1,209.52
15711,Makers of Milkshakes - Prozone Mall,30-09-2024,7.507776e+09,farhan,438.09,460,Dry Fruit Shake (Milkshake),Mom Special Shakes,228.57,1,228.57

In [ ]:
df_test = df[df['customer_phone'].notnull()].reset_index(name = 'date')

In [ ]:
df_test

In [8]:
df.columns

Index(['restaurant_name', 'date', 'customer_phone', 'customer_name',
       'my_amount', 'total', 'item_name', 'category_name', 'item_price',
       'item_quantity', 'item_total', 'day', 'month-year'],
      dtype='object')

In [14]:
# Visit frequency
df['day'] = pd.to_datetime(df['date'], format='%d-%m-%Y').dt.day_name()
df['month-year'] = pd.to_datetime(df['date'], format='%d-%m-%Y').dt.strftime('%Y-%b')
day_wise_peak_visit_times = df.groupby('day')['customer_phone'].count().reset_index(name='day wise visit count').sort_values(by='day wise visit count', ascending=False)
monthly_peak_visit_times = df.groupby('month-year')['customer_phone'].count().reset_index(name='monthly visit count').sort_values(by='monthly visit count', ascending=False)

# Customer Lifetime Value (CLV)
clv = df.groupby('customer_phone',)['total'].sum().reset_index(name='CLV').sort_values(by='CLV', ascending=False)

# Average Order Value (AOV)
aov = df.groupby('customer_phone')['total'].mean().reset_index(name='AOV').sort_values(by='AOV', ascending=False)

# Average Spend per Visit
average_spend_per_visit = df.groupby('customer_phone')['total'].mean().reset_index(name='Average Spend per Visit').sort_values(by='Average Spend per Visit', ascending=False)

In [15]:
average_spend_per_visit

      customer_phone  Average Spend per Visit
1849    8.668513e+09                   2160.0
4639    9.823482e+09                   1840.0
3246    9.370371e+09                   1820.0
860     7.768888e+09                   1620.0
1976    8.770107e+09                   1440.0
...              ...                      ...
4222    9.689909e+09                    111.0
1782    8.605559e+09                     99.0
1599    8.446221e+09                     99.0
4144    9.665913e+09                     99.0
5115    9.923181e+09                     99.0

[5346 rows x 2 columns]

In [17]:
# Top-Selling Items
top_selling_items = df.groupby('item_name')['item_quantity'].sum().reset_index().sort_values(by='item_quantity', ascending=False)

In [32]:
latest_date = df['date'].max()
recency = df.groupby('customer_phone')['date'].max().reset_index()
recency['latest_date'] = latest_date
recency['recency'] = pd.to_datetime(recency['latest_date'], format='%d-%m-%Y') - pd.to_datetime(recency['date'], format='%d-%m-%Y')

In [33]:
recency

      customer_phone        date latest_date  recency
0       2.000000e+01  09-07-2024  31-12-2024 175 days
1       3.341805e+09  27-05-2024  31-12-2024 218 days
2       3.548701e+09  10-09-2024  31-12-2024 112 days
3       4.038617e+09  18-10-2024  31-12-2024  74 days
4       4.446314e+09  10-09-2024  31-12-2024 112 days
...              ...         ...         ...      ...
5341    9.995455e+09  30-07-2024  31-12-2024 154 days
5342    9.996531e+09  07-08-2024  31-12-2024 146 days
5343    9.998901e+09  28-06-2024  31-12-2024 186 days
5344    9.999393e+09  28-07-2024  31-12-2024 156 days
5345    9.999660e+09  02-07-2024  31-12-2024 182 days

[5346 rows x 4 columns]

KeyError: 'latest_date'

In [ ]:
# Recency of Visit
latest_date = df['date'].max()
recency = df.groupby('customer_phone')['date'].max().reset_index()
recency['Recency'] = (latest_date - recency['date']).dt.days()
recency = recency[['customer_phone', 'Recency']]